<header class="header">
  <h1>Work orders for {{ today | date: "d MMMM yyyy" }}</h1>
  <div class="image-container">
    <img
      class="image-flag"
      src="../assets/images/flag.jpg"
      alt="ukraine poland flag friendship"
    />
  </div>
</header>

<div class="search-container">
  <input
    class="input"
    type="text"
    [(ngModel)]="searchStr"
    placeholder="Search by description"
  />
</div>
<div class="pagination">
  <select [value]="ordersPerPage" (change)="changeOrderList($event)">
    <option value="2">2 orders per Page</option>
    <option value="4">4 orders per Page</option>
    <option value="8">8 orders per Page</option>
    <option value="10">10 orders per Page</option>
    <option value="20">20 orders per Page</option>
  </select>
  <div>
    <button>PREV</button>
    <button active *ngFor="let page of pageNumbers" (click)="changePage(page)">
      {{ page }}
    </button>
    <button>NEXT</button>
  </div>
</div>
<table class="table">
  <tr class="row-table">
    <th>WO ID</th>
    <th>Description</th>
    <th>Received date</th>
    <th>
      <tr>
        Assigned to
      </tr>
      <tr>
        <td>Person Name</td>
        <td>Status</td>
      </tr>
    </th>
    <th>Status</th>
    <th>Priority</th>
  </tr>
  <tr
    class="row-table"
    *ngFor="let order of visibleOrders | search: searchStr; let i = index"
    order="order"
  >
    <td>{{ order.work_order_id }}</td>
    <td>{{ order.description }}</td>
    <td>{{ order.received_date }}</td>
    <td>
      <tr *ngFor="let assign of order.assigned_to">
        <td>{{ assign.person_name }}</td>
        <td>{{ assign.status }}</td>
      </tr>
    </td>
    <td>{{ order.status }}</td>
    <td>{{ order.priority }}</td>
  </tr>
</table>
